.container{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    margin: auto;
    padding: 0px 100px;
}

#logo{
    display: flex;
    
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: blue;
}

nav ul{
    display: flex;
    list-style: none;
}

nav{
    display: flex;
    flex-direction: row-reverse;
}

nav ul a{
    margin: 5px 20px;
}

.footer{
    border-top: 1px solid grey;
    text-align: center;
    margin-top: 10px;
}

li {
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    background: green;
}

.search {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.searchButton {
    text-align: center;
}

.logRegContainer{
    background-color: grey;
    padding: 30px;
    border-radius: 8px;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.loginButton{
    padding: 0px;
    display:flex;
    align-content: center;
}

.banner{
    margin: auto;
}

.profilePic{
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.realName, .profilePic, .username{
    display: flex;
    margin: auto;
    color: #828079;
    font-size:large;
}

.username{
    font-size:xx-large;
    color:#52504d;
}

.postContent{
    background:green;
    border-radius: 4px;
    display: flex;
    flex-direction:row;
    align-content: center;
    padding:10px;
}

.userProfilePic{
    background: brown;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 300px;
    max-width: 40px;
    max-height: 40px;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 20px;
}

.AllPostsContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    min-width: 200px;
    max-width: 600px;
    align-items: center;
}

.topbanner{
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: space-between;
}

.createButton{
    padding: 5px;
}

.post{  
    display:flex;
    flex-direction: row;
    margin-top: 5px;
    align-items: center;
    word-break: break-word;
    padding-top: 20px;
    border-top: 1px solid grey;
    padding: 20px 0px;
}

.post{  
    display:flex;
    flex-direction: row;
    margin-top: 5px;
    align-items: center;
    word-break: break-word;
    padding-top: 20px;
}



textarea {
    resize: none;
  }

.smallCommentText{
    font-size: smaller;
}

.CommentUsername{
    color: grey;
    display: flex;
    justify-content: left;
}


.likeButton{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.imgChange{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0px 100px;
}

.newOrAlrUser {
    text-align: center;
    color: white;
}

.newOrAlrUser:link {
    color: white;
}

.profilePhoto {
    display: flex;
    width: 100px;
    height: 100px; /* found how to crop the images in a circular way here by User Johnny Kutnowski On Oct 17th 2014: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image */
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background: none;
    margin: auto;
    object-fit: cover;
}

.userPhoto {
    display: flex;
    width: 100px;
    height: 100px; /* found how to crop the images in a circular way here by User Johnny Kutnowski On Oct 17th 2014: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image */
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background: none;
    margin: auto;
    object-fit: cover;
}

.bannerPhoto{
    display: flex;
    width: 2048px;
    height: 300px; /* found how to crop the images in a circular way here by User Johnny Kutnowski On Oct 17th 2014: https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image */
    max-height: 1152px;
    max-width: 1024px;
    position: relative;
    overflow: hidden;
    background: none;
    object-fit: contain;
}


.profilePhoto:hover,.bannerPhoto:hover {
    background: grey;
    opacity: 30%;
}



.welcome{
    display: flex;
    justify-content: space-between;
}

.profileShortcut{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.MostLikedBloggers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
}

.userBanner{
    display: flex;
    width: 2048px;
    height: 300px;
    max-height: 1152px;
    max-width: 1024px;
    position: relative;
    overflow: hidden;
    background: none;
    object-fit: contain;
}

#popup2:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;  /* https://codepen.io/chabzz/pen/mVYVpY */
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
  }
  
  #popup2:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
  }

.tempPostImage{
    max-width: 200px;
}

.profile{
    margin: 50px;
    background: lightgrey;
    border-radius: 8px;
    border: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 200px;
    min-width: 100px;
    padding: 20px;
}

.profilesContainer {
    display: flex;
    flex-wrap: wrap;
}

.BloggerProfile{
    margin-right: 10px;
}